**/soc_verify/*
!**/soc_verify/
!**/soc_verify/*
**/soc_verify/*/*
!**/soc_verify/*/run_vivado/
**/soc_verify/*/run_vivado/*
!**/soc_verify/*/run_vivado/*.tcl
**/xvlog*
**/.DS_Store
**/.hdl_checker
**/upload/
**/tmp/
**/*.synctex.gz
**/*.aux
**/*.fdb_latexmk
**/*.fls
**/*.log
**/*.xdv
report-template/*.pdf
**/*.zip
**/rtl/
exp17/run_vivado/*
!exp17/run_vivado/*.tcl
